* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}

#main {
    width: 100%;
    height: 100%;
}

#top {
    display: flex;
    position: relative;
    width: 100%;
    height: 60%;
}

.top1{
width: 100%;
height: 100%;
}
.top1 .topup{
background-color: rgba(0, 0, 0, 0.836);
width: 100%;
height: 20%;
color: aliceblue;
}
.top1 .topup h1 {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: aliceblue
}
.top1 .topbot{
width: 100%;
height: 80% ;
background-color: brown;
background-image: url(https://images.pexels.com/photos/7856836/pexels-photo-7856836.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-position: center;
background-size: cover;
position: relative;
z-index: -2;
}
.top2{
width: 50%;
height: 100%;
position: relative;

}


#top .overlay {
    display: flex;
    position: absolute;
    width: 100%;
    top: 85%;
   left: 10%;
   font-family: monospaceS;
 }
#top .overlay1 {
    position: absolute;
    display: flex;
    left: 22%;
    height: auto;
    width: 100%;
    
}
.overlay1 nav{
    margin-left: 10.5%;
    color: antiquewhite;
    font-size: large;
    text-decoration: none;

}
.overlay1 nav a{
    text-decoration: none;
}
nav a{
    color: white;
}


h1 {
    font-size: 3vw;
    font-weight: lighter;
    color:rgb(255 128 128 / 88%)
}

#top .overlay .text .textright {

    display: flex;
    justify-content: space-between;
    width: 54vw;
}

.textright p {
    width: 15vw;
    color: whitesmoke ;
    font-style:inherit;
    font-weight: 600;
}

#bottom {

    width: 100%;
    height: 40%;

    display: flex;
}

#bottom .bottom1 {
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    position: relative;
}

#bottom .bottom1 .text {
    margin-top: 3%;
    text-align: center;
    position: absolute;
}

#bottom .bottom1 .text h2 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    

}

#bottom .bottom1 .text p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(231, 230, 230);
    position: relative;
    top: 10px;

}


#bottom .bottom2 {
    width: 25%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1707471631240-1b477fbc0a7d?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#bottom .bottom3 {
    width: 20%;
    height: 100%;
}

#bottom .bottom3 .botm3top {
    height: 50%;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.836);
}
 #bottom .bottom3 .botm3top .text{
    position: relative;
    top: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10%;
    color: aliceblue;
}
#bottom .bottom3 .botm3top .text h2{
    font-weight: 200;
}

#bottom .bottom3 .botm3bottom {
    height: 50%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1557775692-91fa57f514a6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#bottom .bottom4 {
    position: relative;
    width: 30%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.bottom4 .img5{
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(5px);
   background-image: url(https://images.pexels.com/photos/14065228/pexels-photo-14065228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    z-index: -10;


}
.bottom4 .textn h2{
    position: relative;
    text-align: center;
    top: 1%
}
.bottom4 .textn { 
    width: auto;
    position: relative;
    top: 10%;
    text-align: center;
    
}
